EXPO_PUBLIC_SUPABASE_URL=https://cydwkrigujhtxarmnpkw.supabase.co 
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5ZHdrcmlndWpodHhhcm1ucGt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3MjY0MDIsImV4cCI6MjA4NzMwMjQwMn0.MraplC1eVzhg4OuBGj0RTZQcDKUXgxmVZ87cGXPXfYc 
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5ZHdrcmlndWpodHhhcm1ucGt3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTcyNjQwMiwiZXhwIjoyMDg3MzAyNDAyfQ.SZz5e2PyDyLM-_9OOVbYsO53hDLNq9tn2AMzz0twXQA 
EXPO_PUBLIC_OCR_SPACE_API_KEY=K84158925888957